.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  @media(max-width: 1366px){
    max-width: 1200px;
  }
  @media (max-width: 1200px){
    max-width: 970px
  }
  @media(max-width: 992px){
    max-width:750px;
  }
  @media(max-width: 768px){
    width: 100%;
  }
}